# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Production
node_modules
dist
dist-ssr
*.local
.env
.vite-env.d.test

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db
ehthumbs.db
*.log
.idea
.vscode
*.swp

# Coverage directory used by tools like istanbul
coverage/

# Optional npm cache directory
.npm

# Parcel-bundler cache (https://parceljs.org/)
.cache

# Next.js build output
.next
out

# Storybook files
.storybook/

# VSCode directory
.vscode/