#root {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%; /* Ensures the root element takes full width */
  text-align: center;
};

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
